<div>
    <div class="running-head">
        Profile
    </div>
    <div class="container-fluid scroll scroll-no-foot">


        <label for="username">Username</label>
        <input name="username"
               ng-model="model.user.username"
               id="username"
               placeholder="username"
               class="form-control"/>

        <label for="firstname">First Name</label>
        <input name="firstname"
               ng-model="model.user.firstName"
               id="firstname"
               placeholder="firstname"
               class="form-control"/>

        <label for="lastname">Last Name</label>
        <input name="lastname"
               ng-model="model.user.lastName"
               id="lastname"
               placeholder="lastname"
               class="form-control"/>

        <label for="email">Email</label>
        <input name="email"
               type="email"
               id="email"
               placeholder="email@email.com"
               class="form-control"/>

        <a class="btn btn-default btn-primary btn-block" href="#!/user/{{model.user._id}}/website" role="button">Websites</a>
        <a class="btn btn-default btn-primary btn-block" ng-click="model.updateUser(model.user)" role="button">Update</a>
        <a class="btn btn-default btn-primary btn-block" ng-click="model.unregisterUser(model.user._id)" role="button">Unregister</a>
        <a class="btn btn-default btn-danger btn-block" href="#!/login" role="button">Logout</a>
    </div>
    <div class="running-foot"></div>
</div>