<div class="running-head">
    Widgets
    <a class="btn-link header-button pull-left" href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page" role="button">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </a>
    <a class="btn-link header-button pull-right" href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new" role="button">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a>
</div>
<div class="container-fluid scroll">
    <item-List></item-List>

</div>
<div class="running-foot">
    <a class="btn-link footer-button pull-right" href="#!/profile/{{model.userId}}" role="button">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
    </a>
</div>