<div class="running-head">
    New Website
    <a class="btn-link header-button pull-left" href="#!/user/{{model.userId}}/website" role="button">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </a>
</div>
<div class="container-fluid">

    <div class="row">
        <div class="col-xs-3 visible-lg jga-split-left">
            <ul class="list-group">
                <li class="list-group-item active">
                    <div class="row">
                        <div class="col-xs-10">Name</div>
                        <div class="col-xs-2">
                            <a class="btn-link footer-button pull-right" href="#!/user/{{model.userId}}/website/new" role="button">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>
                </li>
                <li ng-repeat="website in model.websites" class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10 no-underline">
                            <a class="btn-link" href="#!/user/{{model.userId}}/website/{{website._id}}/page" role="button">
                                {{website.name}}
                            </a>
                        </div>
                        <div class="col-xs-2">
                            <a class="btn-link pull-right" href="#!/user/{{model.userId}}/website/{{website._id}}/edit" role="button">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-lg-9 col-xs-12 jga-split-right">
            <label for="name">Website Name</label>
            <input name="name"
                   ng-model="model.website.name"
                      id="name"
                      placeholder="facebook"
                      class="form-control">

            <label for="description">Website Description</label>
            <textarea name="description"
                      ng-model="model.website.description"
                      id="description"
                      rows="5"
                      placeholder="A website description"
                      class="form-control"></textarea>

            <a class="btn btn-default btn-primary btn-block" ng-click="model.createWebsite(model.userId, model.website)" role="button">Create</a>
            <a class="btn btn-default btn-danger btn-block" href="#!/user/{{model.userId}}/website" role="button">Cancel</a>
        </div>
    </div>

</div>
<div class="running-foot">
    <a class="btn-link footer-button pull-right" href="#!/profile/{{model.userId}}" role="button">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
    </a>
</div>