<div class="container-fluid scroll">


    <label for="name">Name</label>
    <input name="name"
           ng-model="model.widget.name"
           id="name"
           placeholder="Video name"
           class="form-control"/>

    <label for="text">Text</label>
    <input name="text"
           ng-model="model.widget.text"
           id="text"
           placeholder="Text to display below video"
           class="form-control"/>

    <label for="url">URL</label>
    <input name="url"
           ng-model="model.widget.url"
           id="url"
           type="url"
           placeholder="URL of your video"
           class="form-control"/>

    <label for="width">Width</label>
    <input name="width"
           ng-model="model.widget.width"
           id="width"
           placeholder="100%"
           class="form-control"/>

    <a class="btn btn-default btn-primary btn-block" ng-click="model.updateWidget(model.widget)" role="button">Ok</a>
    <a class="btn btn-default btn-danger btn-block" ng-click="model.unCreate()" role="button">Delete</a>
</div>