<div class="running-head">
    <a class="btn-link header-button pull-left" onclick="window.history.back()" role="button">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </a>
    <a class="btn-link header-button pull-left" href="#!/" role="button">
        Home
    </a>
    <a ng-show="!model.loggedInUser" class="btn-link header-button pull-right" href="#!/login" role="button">
        Login
    </a>
    <a ng-show="model.loggedInUser" class="btn-link header-button pull-right" href="#!/login" role="button">
        Logout
    </a>
    <a ng-show="model.loggedInUser" class="btn-link header-button pull-right" href="#!/profile/{{model.loggedInUser.username}}" role="button">
        Profile
    </a>
</div>

<div class="container-fluid scroll">
    <div ng-show="model.loggedInUser && model.loggedInUser.roles.indexOf('ADMIN') !== -1">
        <ul class="list-group">
            <li class="list-group-item active">
                <div class="row">
                    <div class="col-xs-4">Name</div>
                    <div class="col-xs-6">Roles</div>
                    <div class="col-xs-2">
                        <a class="btn-link plus pull-right" href="#!/admin/create" role="button">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </li>
            <li ng-repeat="user in model.users track by $index" class="list-group-item">
                <div class="row">
                    <div class="col-xs-4">
                        <a class="btn-link" href="#!/profile/{{user.username}}" role="button">
                            {{user.username}}
                        </a>
                    </div>
                    <div class="col-xs-6">{{user.roles}}</div>
                    <div class="col-sm-1 hidden-xs pull-right">
                        <a ng-click="model.deleteUser(user._id)" role="button">
                            Delete
                        </a>
                    </div>
                    <div class="col-sm-1 hidden-xs pull-right">
                        <a href="#!/admin/edit/{{user.username}}" role="button">
                            Edit
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>